* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.background {
    background-image: url(bckgrd.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.mask {
    height: 100vh;
    background-color: rgba(255, 255, 255, .85);
    position: relative;
}

.headline {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo {
    width: 20%;
    padding-bottom: 20%;
    background-image: url(logo-transparent.png);
    background-position: center;
    background-size: cover;
}

.loader {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    display: none;
    width: 250px;
    padding-bottom: 250px;
    background-image: url(logo-transparent.png);
    background-position: center;
    background-size: cover;
    animation: loader 1s infinite ease-out;
}

@keyframes loader {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}

.headline h1 {
    font-size: 36px;
    margin: 30px 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.content {
    margin: 30px auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

.amount-input {
    line-height: 190%;
}

.currency-select {
    height: 30px;
}

.convertBtn {
    padding: 5px 20px;
}

.amount-output {
    font-size: 16px;
    font-weight: 700;
}
